$col-prim : #d305d3;
$col-prim-light : #e706e7;
$col-prim-dark : #960796;

$col-sec : #3dc713;
$col-sec-dark : #3e7710;

$col-ter : #ff5100;
$col-ter-dark : #fc0b0b;

$col-green : #16d46c;
$col-blue : #1b8ce9;
$col-purple : rgb(75, 49, 148);
$col-yellow: rgb(251, 255, 0);
$col-yellow-dark: rgb(196, 193, 13);

$col-grey-dark: #242323;
$col-grey-medium: #4f4f4f;
$col-grey-light: #727272;

$col-white: #f3f2f2;
$col-white-dark: #ddd7d7;