.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem;
    font-size: 1.75rem;
    background-color: rgba($col-prim-dark,1);
    position: fixed;
    text-transform: uppercase;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    @media only screen and (max-width: 30em) {
            &{
               font-size: 1.35rem;
            } }

    &--link-active{
        transform: scaleY(1.2);
        border-bottom: 1.5px solid $col-white;
        transition: all .2s;
    }
    &--main-icon{
        width: 12rem;
        margin-right: 12rem;
        @media only screen and (max-width: 75em) {
            &{
                margin-right: 8rem;
            } }
        @media only screen and (max-width: 56.25em) {
            &{
                margin-right: 6rem;
            } }
        @media only screen and (max-width: 37.5em) {
            &{
                margin-right: 3rem;
            } }
        @media only screen and (max-width: 30em) {
            &{
                margin-right: 1.5rem;
            } }
    }
    &--link:not(:last-child){
        margin-right: 12rem;
        @media only screen and (max-width: 75em) {
            &{
                margin-right: 8rem;
            } }
        @media only screen and (max-width: 56.25em) {
            &{
                margin-right: 6rem;
            } }
        @media only screen and (max-width: 37.5em) {
            &{
                margin-right: 3rem;
            } }
        @media only screen and (max-width: 30em) {
            &{
                margin-right: 1.5rem;
            } }
    }
    &--link:link,
    &--link:visited{
        text-decoration: none;
        font-weight: 600;
        color: $col-white;
    }
    &--link:hover{
        transform: scaleY(1.2);
        border-bottom: 1.5px solid $col-white;
    }
    &--link:active{
        transform: scaleY(1.2);
        border-bottom: 1.5px solid $col-white;
    }
}