*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: $col-grey-dark;
    position: relative;
    background-color: $col-white;

}